@import "variables";
@import "mixins";

.about{
    width: 100%;
    padding: 0 $sm-borders;

    .skills__list{
        display: flex;
        position: relative;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;

        .skills__pic{
            position: absolute;
            height: 25vw;
            width: 25vw;
            border-radius: 50%;
            background-color: white;
            background-image: url("../assets/profilepic2.jpg");
            background-position: center;
            background-size: cover;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: none;

            @include md-screen{
                display: block;
            }
            @include lg-screen{
                height: 20vw;
                width: 20vw;
            }
        }

        .list__item {
            display: flex;
            flex-direction: column;
            background-color: $primary;
            flex: 100%;
            font-size: 0.8rem;
            padding: 3vw 5vw;
            margin: 0.3rem;
            border-radius: 1rem;
        }

        > .list_item:nth-child(even){
            align-items: flex-end;
            text-align: right;
        }

        p{
            color: white;
            font-size: medium;
        }

        h1{
            font-size: 1rem;
        }
    }
}

.summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: $primary-var;
    color: white;
    padding: 1rem $sm-borders;

    &__par{
        margin: 1rem 0;
    }

    &__pic{
        background-color: white;
        border-radius: 2rem;
        background-image: url("../assets/profilepic4.jpg");
        background-position: center;
        background-size: cover;

        padding-top: 100%;
        width: 100%;
        position: relative;
        margin: 0 auto;
        margin-top: 1rem;
        animation: changePic 20s infinite;
    }
}

@include md-screen{
    .skills__list{
        .list__item{
            max-width: 45%;
            height: 15rem;

            h1{
                font-size: 1.5rem;
            }
            
            p {
                width: 80%;
            }

            &:nth-child(odd){
                text-align: right;
                align-items: flex-end;
            }
            &:nth-last-child(-n+2){
                padding-top: 10%;
                justify-content: baseline;
            }
        }
    }

    .summary{
        display: flex;
        padding: 4rem $lg-borders;

        &__pic{
            padding-top: 60%;
            width: 60%;
        }
    }
}

@include lg-screen{
    .skills__list{
        .list__item{
            height: 20rem;
            p{
                font-size: 1.2rem;
            }
        }
    }

    .summary{
        flex-direction: row;
        align-items: center;
        gap: 2rem;

        &__pic{
            flex: 50%;
        }

        &__par{
            flex: 50%;
            font-size: 1.2rem;
        }
    }
}

@include xl-screen{

    .skills__list{
        padding: 0 $lg-borders;
    }
    .summary{
        padding: 5vw $lg-borders;
    }
}

@keyframes changePic{
    0% {background-image: url("../assets/profilepic4.jpg");}
    20% {background-image: url("../assets/profilepic3.jpg");}
    40% {background-image: url("../assets/profilepic1.jpg");}
    60% {background-image: url("../assets/profilepic5.jpg");}
    90% {background-image: url("../assets/profilepic4.jpg");}   
}