@import "variables";
@import "mixins";

.contact{
    max-width: 100%;
    margin: $lg-borders;
    padding-top: 5vh;

    &__links{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;

        div{
            width: 70%;
            background-color: $primary-var;
            color: white;
            padding: 0.8rem 1rem;
            border-radius: 2rem;
            border: 0.1rem $primary solid;
            margin: 1rem 0;
            font-weight: bold;
        }

        div:nth-child(even){
            width: 90%;
        }
        
    }

    @include md-screen{
        margin: 5vw 10vw;
        &__links{
            div{
                padding: 1rem 3rem;
                font-size: 1.5rem;
                border-radius: 3rem;
                border: 0.3rem $primary solid;
                transition: 200ms ease-in-out;

                &:hover{
                    font-size: 2rem;
                }
            } 
        }
    }

    @include xl-screen{
        &__links{
            div{
                width: 50%;
            }
            div:nth-child(even){
                width: 70%;
            }
        }
    }
}