@import "variables";
@import "mixins";

.container{
    padding-top: 5vh;
    width: 100%;
    height: auto;

    h1{
        text-align: center;
    }
}

.projlist{
    margin: $lg-borders;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: wrap;
    max-width: 100%;
}