@import "variables";
@import "mixins";

.projItem{
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
    width: 100%;
    text-align: center;

    &__container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0; 
        max-width: 50%;
    }

    h1{
        color: $secondary;
    }

    &__img{
        height: 10rem;
        width: 10rem;
        border-radius: 2rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0.5rem 0;
    }

    &:hover{
        border-radius: 2rem;
        outline: 0.3rem solid $primary;
    }

    @include md-screen{
        width: 50%;
        padding: 1rem;

        &__container{
            max-width: 100%;
        }
    }

    @include lg-screen{
        width: 100%;
        flex-basis: 10%;
        margin: 1rem 2rem;
    }
}